<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>心碎了无痕.mp3</string>
	<string>简单爱.mp3</string>
	<string>瓦解.mp3</string>
	<string>一千年以后.mp3</string>
	<string>最佳损友.mp3</string>
</array>
</plist>
